<%= form_for [@city, @city.tasks.build] do |f| %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%=f.label :description %>
		<%= f.text_field :description %>	
	</div>

	<div>
		<%=f.label :youtube_url %>
		<%= f.text_field :youtube_url %>	
	</div>


	<div>
		<%=f.label :image %>
		<%= f.text_field :image %>	
	</div>

	<div>
		<%=f.label :complete %>
		<%= f.check_box :complete %>
	</div>

	<div>
		<%=f.label :dreamer %>
		<%= f.check_box :dreamer %>
	</div>

	<%= f.submit %>
<% end %>