<h1>Tasks</h1>

<%= form_for_filterrific @filterrific do |f| %>
<div>
    Country
    <%= f.select(
      :with_city_id,
      @filterrific.select_options[:with_city_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
  <% end %>

<%= render(
  partial: 'tasks/list',
  locals: { tasks: @tasks }
) %>
