<style>
/*
.circular {
	border: 2px solid;
	border-radius: 25px;
}*/

</style>



<body>
<% @cities.each do |city| %>
	<tr></br>
		<td><%= link_to city.name, city_path(city) %>  
		<% if user_signed_in? && current_user.admin? %>
		<td><%= link_to 'Edit', edit_city_path(city) %></td>
		<td><%= link_to 'Delete', city_path(city), 
			method: :delete,
				data: { confirm: 'Are you sure?' }  %></td>
		<% end %>
	</tr>
<% end %>

</br>Don't see your city? <%= link_to "Learn about the Ambassador Program", cities_ambassador_path %>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Add New City', new_city_path %>
<% end %>

	</div>
</body>

