<h1>Cities</h1>

<%= link_to 'Add New City', new_city_path %>



<% @cities.each do |city| %>
	<tr></br>
		<td><%= city.name %></td>
		<td><%= city.description %></td>
		<td><%= link_to 'Show', city_path(city) %></td>
		<td><%= link_to 'Edit', edit_city_path(city) %></td>
		<td><%= link_to 'Delete', city_path(city), 
			method: :delete,
				data: { confirm: 'Are you sure?' }  %></td>
	</tr>
<% end %>

