<section id="team">
	<div class="container">
		<h1>
		<%= @city.name %>
		<%= @city.description %>
		</h1>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Complete Tasks:</h2>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<% @tasks.each do |task| %>
				<% if task.complete == true %>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        <%= task.name %>
			         <%= progress_bar((task.amount_raised/task.total_amount*100), :color => 'blue', :rounded => true) %>  
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
					<p><%= task.name %></p>
					<p><%= task.description %></p>
						<div class="embed-container"> 
							<p><%= embed(task.youtube_url) %></p>
						</div>
			      </div>
			    </div>
			  </div>
			  <% end %>
			  <% end %>
			 </div>
		</div>

		<div class="col-md-6">
			<h2>Incomplete Tasks:</h2>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<% @tasks.each do |task| %>
					<% if task.complete == false %>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<%= task.name %>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
							<p><%= task.name %></p>
							<p><%= task.description %></p>
								<div class="embed-container"> 
							<p><%= embed(task.youtube_url) %></p>
								</div>
					      </div>
					    </div>
					  </div>
					  <% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

		

		 <%= link_to 'New Task', new_city_task_path(@city) %>
		 <%= link_to 'Campaigns', city_campaigns_path(@city) %>

</div>

</section>